In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
os.chdir('../../vhalid/')

In [3]:
from Demographics import Demographics
from Castor import Castor
import warnings
warnings.filterwarnings("ignore")

In [10]:
pt = Demographics(16, Castor())

In [11]:
pt.get_demographics()

Patient ID = 017

In [12]:
pt.demograph_df

Age (yrs)                                           66
Type of surgery  Valve-Sparing Root Replacement (VSRR)
Weight (kg)                                       66.5

In [13]:
pt.get_history()
pt.history

Empty DataFrame
Columns: []
Index: []

In [16]:
pt.get_medication()
pt.medication

Empty DataFrame
Columns: []
Index: []

In [15]:
import pandas as pd
pd.concat((pt.demograph_df, pt.history, pt.medication))

Age (yrs)                                                                    66
Type of surgery                           Valve-Sparing Root Replacement (VSRR)
Weight (kg)                                                                66.5
Stop medication, prior to surgery (hrs):                                    0.0

In [56]:
Castor._print_dataframe(pd.concat((pt.demograph_df, pt.history, pt.medication)))

In [18]:
# pt.demograph_df
x = ["beta-blockers", "thiopental"]